# To use this file, run this command to install/upgrade:
#   pip install -U -r requirements.txt
# If you are on macOS, you will need to install some additional binary packages:
#   brew install libvirt pkg-config ipmitool
 
colorconsole==0.7.2
coverage==4.0.3
dnspython==1.15.0
libvirt-python
netaddr==0.7.18
paramiko==1.16.0
pylint==1.5.2
pytest==2.8.5
pytest-cov==2.2.0
pyvmomi==5.5.0.2014.1.1
requests==2.11.1

